<!DOCTYPE HTML>
<html>
<head>
<title>Course Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- Custom CSS -->
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
<!-- Graph CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" >
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/icon-font.min.css') }}"  >
<!-- //lined-icons -->
<!-- chart -->
<script src="js/Chart.js"></script>
<!-- //chart -->
<!--animate-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css') }}" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!----webfonts--->
<link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!---//webfonts--->
 <!-- Meters graphs -->
<script src="js/jquery-1.10.2.min.js"></script>
<!-- Placed js at the end of the document so the pages load faster -->

</head>

 <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
    <!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a href="{{ url_for('dashboard') }}">My <span>Dashboard</span></a></h1>
			</div>
			<div class="logo-icon text-center">
				<a href="{{ url_for('dashboard') }}"><i class="lnr lnr-home"></i> </a>
			</div>

			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<!--sidebar nav start-->
				<ul class="nav nav-pills nav-stacked custom-nav">
											 <li><a href="{{ url_for('settings') }}"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li> 
											<li><a href="{{ url_for('dashboard') }}"><i class="lnr lnr-pencil"></i> <span>Create Course</span></a></li>
									</ul>
									<!--sidebar nav end-->
							</div>
		</div>


	<!-- main content start-->
	<div class="main-content main-content3">
	<!-- header-starts -->
	<div class="header-section"> 

	<!--toggle button start-->
	<a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
	<!--toggle button end-->

	<!--notification menu start -->
	<div class="menu-right"> 
		<div class="user-panel-top">
			<div class="profile_details_left">
				<ul class="nofitications-dropdown">
					<li class="login_box" id="loginContainer">
							<div class="search-box">
								<div id="sb-search" class="sb-search">
									<form>
										<input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
										<input class="sb-search-submit" type="submit" value="">
										<span class="sb-icon-search"> </span>
									</form>
								</div>
							</div>
								<!-- search-scripts -->
								<script src="js/classie.js"></script>
								<script src="js/uisearch.js"></script>
									<script>
										new UISearch( document.getElementById( 'sb-search' ) );
									</script>
								<!-- //search-scripts -->
					</li>
					<div class="clearfix"></div>
						</ul>
					</div>
					<div class="profile_details">
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">
										<span style="background:url(static/images/1.jpg) no-repeat center"> </span>
										 <div class="user-name">
											<p>michael<span>administrator</span></p>
										 </div>
										 <i class="lnr lnr-chevron-down"></i>
										 <i class="lnr lnr-chevron-up"></i>
										<div class="clearfix"></div>
									</div>
								</a>
								<ul class="dropdown-menu drp-mnu">
									<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
									<li> <a href="#"><i class="fa fa-user"></i>Profile</a> </li>
									<li> <a href="sign-up.html"><i class="fa fa-sign-out"></i> Logout</a> </li>
								</ul>
							</li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
		</div>
		<!--notification menu end -->
		</div>
		<!-- //header-ends -->
			<div id="page-wrapper">
				<div class="graphs">
					<h3 class="blank1">Course Details</h3>
						<div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Name Of The Course</label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="focusedinput" name="coursename">
									</div>
								</div>
									<div class="form-group">
									<label for="txtarea1" class="col-sm-2 control-label">Knowledge Required</label>
									<div class="col-sm-8"><textarea name="Knowledge" id="txtarea1" cols="50" rows="4" class="form-control1"></textarea></div>
								</div>
								<div class="form-group">
									<label for="smallinput" class="col-sm-2 control-label label-input-sm">Course Duration</label>
									<div class="col-sm-8">
											<input type="text" class="form-control1 input-sm" id="smallinput" name="duration">
										</div>
								</div>
									<div class="form-group">
									<label for="smallinput" class="col-sm-2 control-label label-input-sm">Price</label>
									<div class="col-sm-8">
										<input type="text" class="form-control1 input-sm" id="smallinput" name="price">
									</div>
                                </div>
                                    <center><button class="btn-success btn">Submit</button></center>
                                </div>



<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>
</body>
</html>
