
<!DOCTYPE html>
<html lang="zxx">

<head>
	<style>
	input[name="search"] {
    width: 65px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[name="search"]:focus {
    width: 50%;
}
</style>
	<title>Learning Management System</title>
	<!-- meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //meta-tags -->
  {%load static %}
	<link href="{% static 'pages/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'pages/style.css'%}" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome -->
	<link href="{% static 'pages/font-awesome.css'%}" rel="stylesheet">
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
	<!-- header -->
	<div class="header-top">
		<div class="container">
			<div class="bottom_header_left">
				<p>
					<span class="fa fa-map-marker" aria-hidden="true"></span>HYDERABAD, INDIA
				</p>
			</div>
			<div class="bottom_header_right">

				<div class="header-top-righ">
					<a href="{% url 'login' %}">
						<span class="fa fa-sign-out" aria-hidden="true"></span>Login</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="header">
		<div class="content white">
			<nav class="navbar navbar-default" >
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'index' %}">
							<h1>
								<span class="fa fa-leanpub" aria-hidden="true"></span>LMS Moodle
								<label>Education & Courses</label>
							</h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="" class="effect-3"></a>
								</li>
								<li>
									<a href="" class="effect-3"></a>
								</li>
								<li>
									<a href="" class="effect-3"></a>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" >

									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href=""></a>
										</li>
										<li>
											<a href=""></a>
										</li>
									</ul>
								</li>
								<li>
									<a href="{% url 'index' %}" class="effect-3">Home</a>
								</li>
								<li>
									<a href="{% url 'courses' %}" class="effect-3">Courses</a>
								</li>
								<li>
									<a href="{%url 'register' %}" class="effect-3">Join Us</a>
								</li>
							</ul>
						</nav>

					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->

				</div>
			</nav>

		</div>

	</div>

	<!-- banner -->
	<div class="inner_page_agile">
    <br><br>
    <form>
      <input type="text" name="search" placeholder="Search..">
    </form>
	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">

		</div>
	</div>
	<!-- //short-->
	<!-- blog -->

	<!-- //blog-->



	<!-- footer -->
	<div class="mkl_footer">
		<div class="sub-footer">
			<div class="container">
				<div class="mkls_footer_grid">
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Location:</h4>
						<p>BVRIT HYDERABAD
							<br> Hyderabad</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Mail Us:</h4>
						<p>
							<span>Phone : </span>001 234 5678</p>
						<p>
							<span>Email : </span>
							<a href="mailto:info@example.com">lmsdjango@gmail.com</a>
						</p>
					</div>
					<div class="col-xs-4 mkls_footer_grid_left">
						<h4>Opening Hours:</h4>
						<p>Working days : 8am-10pm</p>
						<p>Sunday
							<span>9am-2pm</span>
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="botttom-nav-allah">
					<ul>
						<li>
							<a href="{% url 'index' %}">Home</a>
						</li>
						<li>
							<a href="{% url 'courses' %}">Courses</a>
						</li>
						<li>
							<a href="{%url 'register' %}">Join Us</a>
						</li>
					</ul>
				</div>

	<!-- js files -->
	<!-- js -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
	<script src="js/bootstrap.js"></script>
	<!-- stats numscroller-js-file -->
	<script src="js/numscroller-1.0.js"></script>
	<!-- //stats numscroller-js-file -->
	<!-- smooth scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->

</body>

</html>
